* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* this is container for Login container // background-color: #add8e6; */
html,
body {
  height: 100%;
}
.overall-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../assets/one.jpg") no-repeat center center fixed;
  background-size: cover;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 0.4em;
  font-size: 2.8em;
  font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title > p {
  color: #d63230;
  font-family: "Righteous", cursive;
  font-size: 48 px;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000;
  margin: 10px 0 24px;
  text-align: center;
}

.password-container {
  margin-top: 0.7em;
}

.login-container {
  text-align: center;
  animation-name: loginVisibility;
  animation-delay: 0.25s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes loginVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.login-input {
  border-radius: 2%;
  min-height: 2em;
  border: none;
  border-bottom: 1px solid;
  text-align: center;
  opacity: 80%;
}

.login-input text {
  opacity: 1;
}

.display-container {
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button:focus,
input:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.btn {
  width: 5em;
  height: 2em;
  background-color: rgb(71, 133, 203);
  color: white;
  border: none;
  border-radius: 1em;
  opacity: 85%;
}

.signup-container {
  margin-top: 0.8em;
  font-size: 0.9em;
  text-align: center;
}

.signup-container a {
  text-decoration: none;
  color: rgb(73, 71, 71);
  font-size: 1em;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.signup-container a:hover {
  color: rgb(32, 93, 192);
}

.or {
  padding: 0.4em;
  font-size: 0.8em;
  color: rgb(73, 71, 71);
}

.google-login-container {
  margin-top: 1em;
}

/* this is container for Signup container */

.signup-form {
  display: flex;
  justify-content: center;
}

.return-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 0.7em;
}

.return-btn-div a {
  text-decoration: none;
  color: grey;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.return-btn-div a:visited {
  color: rgb(73, 71, 71);
}

/* Map page */

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #add8e6;
  height: 3em;
}

.map-logo {
  margin-left: 1em;
  font-size: 1.5em;
}

.hamburger-icon {
  margin-right: 1em;
  font-size: 1.5em;
}

#root {
  overflow: hidden;
}

.dropSecret-container {
  left: 25%;
  right: 25%;
  position: absolute;
  bottom: 0.5em;
  z-index: 99;
  box-sizing: content-box;
  text-align: center;
}

.dropSecretImg {
  width: 20%;
}

.map-container {
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.stash-icon {
  color: black;
}

.stash-list {
  border: 1px solid red;
  overflow-y: scroll;
  overflow-x: hidden;
}

.stash-icon {
  color: black;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.stash-icon:visited {
  color: black;
}

.dropSecret-btn {
  display: inline-block;
  font-size: 0.8em;
  height: 5em;
  width: 5em;
  border: none;
  border-radius: 55%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(233, 49, 79);
  color: white;
  text-align: center;
  line-height: 130%;
  vertical-align: middle;
  transition: all 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media all and (max-width: 30em) {
  .dropSecret-btn {
    display: block;
    margin: 0.4em auto;
  }
}

/* Stash */

.stash-container {
  border: solid;
  height: 100vh;
}

.stash-title {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  font-family: "Courier New", Courier, monospace;
}

/* Stats */

.ranking-main-container {
  color: black;
  height: 100vh;
  background-color: #f0f8ff;
}
.x-btn {
  margin: 1em 0 0 1em;
  border: none;
  background-color: transparent;
}
/* */
.global-ranking-container {
  background-color: #f8f8ff;
  border: 2px solid #ebebf5;
}

.global-ranking-title {
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  margin-top: 0.5em;
  font-size: 1.5em;
  border-bottom: 1px solid#ebebf5;
}

.global-ranking-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.ranking-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#your-ranking-container {
  margin-top: 2em;
}

/* suspense */

.spinner-container {
  height: 100vh;
}

.loading {
  align-items: center;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Drop Button */

.drop-msg-btn {
  background-color: #ffe4e1;
  border: none;
  color: #1e2021;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 50em;
}
.drop-msg-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Main router container*/

.main-route-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.google-map {
  height: 100%;
}

.home {
  position: relative;
}

/* 
37.5643476
-121.9858608
*/
