* {
  margin: 0;
  padding: 0;
}

/* this is container for Login container */

.overall-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add8e6;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.password-container {
  margin-top: 0.7em;
}

.login-container {
  position: relative;
  animation-name: loginVisibility;
  animation-delay: 0.25s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes loginVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.login-input {
  border-radius: 2%;
  min-height: 2em;
  border: none;
  border-bottom: 1px solid;
  text-align: center;
}

button:focus,
input:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.btn {
  width: 5em;
  height: 2em;
  background-color: white;
  border: none;
  border-radius: 1em;
}

.signup-container {
  margin-top: 0.8em;
  font-size: 0.9em;
  text-align: center;
}

.signup-container a {
  text-decoration: none;
  color: grey;
}

.signup-container a:hover {
  color: rgb(32, 93, 192);
}

.signup-container a:visited {
  color: rgb(58, 153, 176);
}

.google-login-container {
  margin-top: 0.5em;
  max-width: 100%;
  font-size: 1em;
}

/* this is container for Signup container */

.signup-form {
  display: flex;
  justify-content: center;
}

.return-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 0.7em;
}

.return-btn-div a {
  text-decoration: none;
  color: grey;
}

.return-btn-div a:visited {
  color: rgb(58, 153, 176);
}

/* Map page */

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #add8e6;
  padding: 0.5em 0;
  position: sticky;
}

.map-logo {
  margin-left: 1em;
  font-size: 1.5em;
}

.hamburger-icon {
  margin-right: 1em;
  font-size: 1.5em;
}

#root {
  overflow: hidden;
}

.dropSecret-container {
  position: absolute;
  bottom: 1em;
  z-index: 99;
  border: solid;
  box-sizing: content-box;
}

.dropSecretImg {
  width: 20%;
}

.map-container {
  height: 100vh;
}

.stash-icon {
  color: black;
}

.stash-icon {
  color: black;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.stash-icon:visited {
  color: black;
}

.dropSecret-btn {
  display: inline-block;
  height: 3.5em;
  width: 3em;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 60%;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: rgb(233, 49, 79);
  color: white;
  text-align: center;
  padding-top: 1em;
  line-height: 130%;
  vertical-align: middle;
  transition: all 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media all and (max-width: 30em) {
  .dropSecret-btn {
    display: block;
    margin: 0.4em auto;
  }
}

/* Stash */

.stash-container {
  border: solid;
  height: 100vh;
}
