* {
  margin: 0;
  padding: 0;
}

/* this is container for Login container */

.overall-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #add8e6;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.password-container {
  margin-top: 0.7em;
}

.login-container {
  text-align: center;
  animation-name: loginVisibility;
  animation-delay: 0.25s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes loginVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.login-input {
  border-radius: 2%;
  min-height: 2em;
  border: none;
  border-bottom: 1px solid;
  text-align: center;
}

.display-container {
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button:focus,
input:focus {
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.btn {
  width: 5em;
  height: 2em;
  background-color: white;
  border: none;
  border-radius: 1em;
}

.signup-container {
  margin-top: 0.8em;
  font-size: 0.9em;
  text-align: center;
}

.signup-container a {
  text-decoration: none;
  color: grey;
}

.signup-container a:hover {
  color: rgb(32, 93, 192);
}

.signup-container a:visited {
  color: rgb(58, 153, 176);
}

.google-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  margin-top: 0.5em;
  max-width: 73%;
  font-size: 0.5em;
}

/* this is container for Signup container */

.signup-form {
  display: flex;
  justify-content: center;
}

.return-btn-div {
  display: flex;
  justify-content: center;
  margin-top: 0.7em;
}

.return-btn-div a {
  text-decoration: none;
  color: grey;
}

.return-btn-div a:visited {
  color: rgb(58, 153, 176);
}

/* Map page */

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #add8e6;
  padding: 0.5em 0;
  position: sticky;
}

.map-logo {
  margin-left: 1em;
  font-size: 1.5em;
}

.hamburger-icon {
  margin-right: 1em;
  font-size: 1.5em;
}

#root {
  overflow: hidden;
}

.dropSecret-container {
  position: absolute;
  bottom: 1em;
  z-index: 99;
  box-sizing: content-box;
}

.dropSecretImg {
  width: 20%;
}

.map-container {
  height: 100vh;
}

.stash-icon {
  color: black;
}

.stash-icon {
  color: black;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.stash-icon:visited {
  color: black;
}

.dropSecret-btn {
  display: inline-block;
  font-size: 0.8em;
  padding: 10, 4;
  height: 3em;
  width: 3em;
  margin: 0 0.3em 0.3em 0;
  border: none;
  border-radius: 55%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(233, 49, 79);
  color: white;
  text-align: center;
  line-height: 130%;
  vertical-align: middle;
  transition: all 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media all and (max-width: 30em) {
  .dropSecret-btn {
    display: block;
    margin: 0.4em auto;
  }
}

/* Stash */

.stash-container {
  border: solid;
  height: 100vh;
}

.stash-title {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  font-family: "Courier New", Courier, monospace;
}

.drop-msg-btn {
  background-color: #ffe4e1;
  border: none;
  color: #1e2021;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.drop-msg-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
